
.userList {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  }
  
  .userCard {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .userCard img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-bottom: 10px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: auto;
    /* margin: 0 10px;
    padding: 8px;
    background: #ccc;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #333; */
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }